<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Educa{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
<!--    <link rel="icon" href="static/educa/favicon.ico">-->
    <link rel="shortcut icon" href="#" />
    <link rel="icon" href="#">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Educa</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>
    <!--To implement the drag-and-drop functionality in the template.-->
    <!--You will use the jQuery UI library for this. jQuery UI is built on top of jQuery-->
    <!--and it provides a set of interface interactions, effects, and widgets.-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>